input.editable-select {
    background: #FFF url(../../img/jquery.editable-select/arrow-down.gif) right center no-repeat;
    padding-right: 0;
    cursor: default;
    z-index: 6010;
}

.editable-select-options {
    position: absolute;
    display: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    background: #FFF;
    border: 1px solid #CCC;
    z-index: 6010;
}

.editable-select-options-overlay {
    background: transparent;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6000;
}

.editable-select-iframe {
    position: absolute;
    background: #FFF;

    z-index: 6009;
    display: none;
}

.editable-select-options ul {
    margin: 0;
    padding: 0;
    z-index: 6010;
    list-style: none none;
}

.editable-select-options li {
    cursor: default;
    padding: 2px;
}

.editable-select-options li.match {
    background-color: #fff059;
}

.editable-select-options li.selected {
    background-color: #a1a1a1;
}

.editable-select {
    z-index: 6000;
}

input.editable-select {
    width: 100%;
    border: 1px solid transparent;
    position: relative;
    height: 16px;
}

.ui-qb-grid {
    font-size: 11px;
    overflow: scroll;
}

.ui-qb-grid-row-header th {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    font-weight: bold;
}

.ui-qb-grid-row td {
    font-weight: normal;
    height: 22px;
    overflow: hidden;
    padding: 0 2px;
    margin: 0;
    text-align: left inherit;
    white-space: pre;
}

.ui-qb-grid-row td, .ui-qb-grid-row-header th {
    border-bottom: 1px solid inherit;
    border-right: 1px solid inherit;
    border-top: 0;
    border-left: 0;
}

/* Drag&Drop */
.ui-qb-grid-row td.showDragHandle div {
    background: url("../../img/icons/updown2.gif") no-repeat right center;
    cursor: pointer;
}

.ui-qb-grid-row.tDnD_whileDrag td.showDragHandle div {
    background: url("../../img/icons/updown2.gif") no-repeat right center !important;
    cursor: pointer;
}

.ui-qb-grid-row.tDnD_whileDrag td {
    background: #eee !important;
}

.ui-qb-grid-row-cell-view-block {
    margin: 0 0;
    overflow: hidden;
    line-height: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.ui-qb-grid-row-cell-edit-block {
    margin: 0 0;
    overflow: hidden;

}

.ui-qb-grid-row-cell-edit-block select {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.ui-qb-grid-row-cell-edit-block input {
    width: 100%;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.ui-qb-grid-row-cell-edit-block div {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    height: 20px;
}

select.ui-qb-grid-row-cell-edit-control {
    width: 100%;
}

.noborder {
    border: none;
}

.ui-qb-grid-row-alias input.ui-qb-grid-row-cell-edit-control {
    width: 100%;
}

.ui-qb-grid-row-condition input.ui-qb-grid-row-cell-edit-control {
    width: 100%;
}

/* Columns */
.ui-qb-grid-row-deleting {
    border-right-width: 0;
    cursor: pointer;
}

.ui-qb-grid-row-deleting div {
    width: 20px;
    background: url("../../img/icons/cross2.png") no-repeat center center;
}

.ui-qb-grid-row-action {
    border-right-width: 0;
}

.ui-qb-grid-row-action div {
    width: 12px;
    background: url("../../img/grippy.png") no-repeat scroll 4px 50% transparent;
    cursor: url("../../img/openhand.cur"), default;
}

.ui-qb-grid-row-selected div {
}

.ui-qb-grid-row-selected input {
    width: auto !important;
}

.ui-qb-grid-row td {
    width: 1%;
    padding-left: 2px;
    padding-right: 2px;
}

.ui-qb-grid-row-expression {
    width: 90%
}

.ui-qb-grid-row-expression div {
}

.ui-qb-grid-row-aggregate div {
    width: 65px;
}

.ui-qb-grid-row-alias div {
    width: 100px;
}

.ui-qb-grid-row-alias input {
    border: none;
    outline: none;
}

.ui-qb-grid-row-sorting div {
    width: 60px;
}

.ui-qb-grid-row-sortingOrder div {
    width: 60px;
}

.ui-qb-grid-row-grouping {
    text-align: center;
}

.ui-qb-grid-row-grouping div {
    width: 55px;
}

.ui-qb-grid-row-groupingCriterion div {
    width: 80px;
}

.ui-qb-grid-row-condition div {
    width: 90px;
}

.ui-qb-grid-row-condition input {
    border: none;
    outline: none;
}

.ui-qb-grid-row-conditionOr div {
    width: 50px;
}

.ui-qb-grid-row-conditionOr input {
    border: none;
    outline: none;
}