﻿
#formDiv
{
    border-color: #cccccc #e7e7e7 #ffffff #e7e7e7;
    background-image: url(images/paper_02.png);
}

#formDiv#searchform input#search
{
    color: #353535;
    text-shadow: 0px 1px 0 #ffffff;
    border-top-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    background: -o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
}
#formDiv#searchform input#search:hover
{
    background: #f6f6f6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1');
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
    background: -moz-linear-gradient(top,  #f6f6f6,  #f1f1f1);
    background: -o-linear-gradient(top,  #f6f6f6,  #f1f1f1);
}
#formDiv#searchform input#search:focus
{
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    filter: none;
}
#formDiv#searchform input#search.load
{
    background-image: url(images/loading.gif) !important;
}

#formDiv pre
{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
#formDiv pre, code
{
    background-image: url(images/paper_02.png);
    background-color: #f1f1f1;
    border-color: #bbbbbb;
}
#formDiv pre code
{
    background-image: url(images/code_lines.png);
}

#formDiv input, textarea
{
    background-color: #ffffff;
    border-color: #bbbbbb;
}
#formDiv input.placeholder, textarea.placeholder
{
    color: #cccccc;
}
#formDiv input.error
{
    color: #c49090;
}
#formDiv input, textarea, input:invalid, input:required, textarea:required
{
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
#formDiv input:hover, input:focus, textarea:hover, textarea:focus
{
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
}

#formDiv select optgroup, select option
{
    color: #555555;
}
#formDiv select option
{
    border-color: #ffffff #f7f7f7 #dddddd #f7f7f7;
}

#formDiv .wl_formstatus
{
    color: #990000;
}
#formDiv span.required
{
    background-image: url(images/required.png);
}

#formDiv fieldset
{
    border-color: #dddddd #e7e7e7 #bbbbbb #e7e7e7;
}
#formDiv label
{
    border-top-color: #ffffff;
    color: #444444;
    text-shadow: 0 1px 0 #ffffff;
    background: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    background: -o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
}
/*
this targets the heading of the formdiv
It is always the first label inside the fieldset
so changing from #formDiv label
to #formDiv > fieldset > label
*/
#formDiv > fieldset > label
{
    border-top-color: #ffffff;
    color: #444444;
    text-shadow: 0 1px 0 #ffffff;
    background: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    background: -o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
}
/*Custom Styling*/
/*
Adding Check box in the header.
Due to uniform styling check box has a label
for text field.It inherits the font size
so making a new custom style for that
this is specially for this check box
the last 4 on other checkbox is applied through
style.css 3337.
*/
#formDiv > fieldset > label div.checker + label
{
    font-family: "Trebuchet MS" , "Lucida Sans Unicode" , "Lucida Grande" , "Lucida Sans" ,Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    line-height: 15px;
    color: #444444;
    vertical-align: baseline;
    border: none;
    background: none;
    float: left;
    position: relative;
    top: 1px;
    padding: 2px 0px 2px 0px !important;
    height: 23px;
}
/*Custom Styling*/
/*form:not(#loginform) #formDiv fieldset > section label
{
    color: #444444;
    text-shadow: 0 1px 0 #ffffff;
    border-top: 1px solid;
    display: block;
    padding: 15px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}*/
#formDiv fieldset > section
{
    border-top-color: #ffffff;
    border-bottom-color: #e7e7e7;
    background: #f6f6f6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1');
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
    background: -moz-linear-gradient(top,  #f6f6f6,  #f1f1f1);
    background: -o-linear-gradient(top,  #f6f6f6,  #f1f1f1);
}
#formDiv fieldset > section > div
{
    border-left-color: #e7e7e7;
}
#formDiv fieldset > section > div span
{
}
#formDiv fieldset > section.error
{
    background: #f0cccc;
    border-bottom-color: #f0cccc;
    filter: none;
}
#formDiv fieldset > section.error > label
{
    text-shadow: none;
}
#formDiv fieldset > section label
{
}



/* Custom Theming*/
#formDiv .aspButton
{
    background-color: #E6E6E6;
    border-color: #C7C7C7 #B2B2B2 #B2B2B2 #C7C7C7;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 2px 5px rgba(255, 255, 255, 0.5) inset, 0 -2px 5px rgba(0, 0, 0, 0.1) inset;
    color: #555555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    width: auto !important;
    background-position: 4px 5px;
    background-repeat: no-repeat;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 700; /*margin: 2px;*/
    margin: 6px; /*4/10/2012*/
    min-height: 22px;
    min-width: 8px;
    outline: 0 none; /*padding: 9px 12px;*/ /*4/10/2012*/
    padding: 7px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: pre-line;
    font-family: 'PT Sans' ,sans-serif;
    margin-right: 0px; /*4/10/2012*/
}


/*#formDiv fieldset > section > div.multipleFormFields
{
    padding: 0px;
    width: 100%;
    margin: 0px;
    height: 100%;
    min-height: 100%;
    float: none;
}
#formDiv fieldset > section > div.multipleFormFields > div.innerFormField
{
    float: left;
    
    height:100%;
}
#formDiv fieldset > section > div.multipleFormFields > div.lblCls
{
    float: left;
    height:100%;
    clear: none;
}

#formDiv fieldset > section > div.multipleFormFields  > div.lblCls label
{
    
    border: 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: 100;
    background: none;
    filter: none;
    margin: 0;
    width: auto; 
    text-align: left;
}
#formDiv fieldset > section > div.multipleFormFields  > div.inputCls 
{
    float: left;
    border-left: 1px solid;
    border-left-color: #E7E7E7;
    height:100%;
    margin-left:10px;
}
#formDiv fieldset > section > div.multipleFormFields >  div.inputCls > div
{
    
    width: 100%;
    margin-left: 10px;
    height: 100%;
    min-height: 100%;
}
*/

/* Custom Styling */
fieldset > section.multiple > div
{
    border: 0px;
}
fieldset > section.multiple > div label.sameLine
{
    float: left;
}
fieldset > section.multiple > div input textarea
{
    width: inherit;
}
fieldset > section.multiple > div.sameline input textarea
{
    width: inherit;
    clear: both;
}


#formDiv fieldset > section > div.multipleFormFieldsInSingleRow
{
    padding: 0px;
    width: 100%;
    margin: 0px;
    height: 100%;
    min-height: 100%;
    float: none;
}
#formDiv fieldset > section > div.multipleFormFieldsInSingleRow > div.innerFormField
{
    float: left;
    height: 100%;
    margin: 0px 5px;
    padding: 0px;
    clear: none;
    min-height: 100%;
}
#formDiv fieldset > section > div.multipleFormFieldsInSingleRow > div.innerFormField > div.lblCls
{
    float: left;
    height: 100%;
    clear: none;
}

#formDiv fieldset > section > div.multipleFormFieldsInSingleRow > div.innerFormField > div.lblCls label
{
    border: 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: 100;
    background: none;
    filter: none;
    margin: 0;
    width: 10%;
    padding-left: 2px;
    margin-left: 8px;
    text-align: left;
    width: auto;
    position: relative;
    top: 15px;
}
#formDiv fieldset > section > div.multipleFormFieldsInSingleRow > div.innerFormField > div.inputCls
{
    float: right;
    border-left: 1px solid;
    border-left-color: #E7E7E7;
    height: 100%;
    width: 60%;
    padding: 10px 1%;
}
#formDiv fieldset > section > div.multipleFormFieldsInSingleRow > div.innerFormField > div.inputCls > div
{
    width: 100%;
    margin-left: 4px;
    height: 100%;
    min-height: 100%;
}

body#login #formDiv fieldset > section > div > div.checker + label
{
    width: auto;
    float: right;
    padding: 0px;
}
