﻿body {
	margin:0px;
	min-width:960px;
	font:12px Tahoma, Arial, Helvetica, sans-serif;
	}

#PgCanvas {
	width:100%;
	float:left;
	}
	
.Sizer {
	margin:0 auto; 
	max-width:0; 
	padding:0; 
	width:0%;
	}
	
.Expander {
	margin:0 -470px; 
	min-width:940px; 
	position:relative;
	}
	
.Wrapper {
	float:left;
	width:100%;
	}
	
h2.FrmHead {		
	color:#3B5998;
	font:17px "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Tahoma, Arial, sans-serif;
	padding-top:5px;
	padding-left:0px;
	clear:both;
	}

.FrmFldDiv {
	padding:2px 2px 2px 2px;
	margin:7px 7px 7px 7px;
	border:dashed 1px #FFFFFF;
	background-color:#FFFFFF;
	float:left;
	}

.FrmFldDivNL {
	clear:left;
	}
	
.FrmFld {
	font-size:12px;
	color:#3B5998;
	background-color:#FFFFFF;
	border:solid 1px #BBBBBB;
	}