﻿
.ProcPriview{width:466px;float:none}
.WfPara1,.modalPopUpDetails{width:100%}
.modalPopUpDetHeaderDiv{border-bottom:1px solid #ccc;float:left;width:98%;cursor:default;padding:5px}
.modalPopUpDetHeader{color:#6F6F6F;text-shadow:0 -1px 0 #FFF;font-size:13px;font-style:normal;font-weight:700;float:left}
.modalPopUpDetRow{float:left;clear:both;width:100%;border-bottom:1px dotted #E1E1E1;padding:5px}
.modalPopUpDetColumn1{float:left;width:100px;color:#6F6F6F;clear:none;font-style:normal;font-weight:600;cursor:default}
.modalPopUpDetColumn2{margin-left:3px;margin-right:4px;float:left;width:auto}
.modalPopUpDetColumn3{float:left;width:70%;margin-left:3px;word-wrap:break-word;cursor:default}
.clear{clear:both}
.DbConnRightDiv{float:left;width:64%;margin-top:5px;cursor:default}
.DbConnLeftDiv{float:left;padding-top:5px;width:34%;margin-top:5px;cursor:default}
.DbConnLeftDllDiv{float:left;padding-top:5px;width:35%;margin-top:10px;cursor:default}
.DpContentRow,.LpContentRow,.FLeft,#WfOuterEditDiv{float:left}
.SubProcborderDiv{margin-top:10px;width:100%;float:left;clear:both;border-top:solid 1px #e0e0e0}
.SubProcBtnDiv{float:left;margin-top:10px;width:100%}
.divcomplete{width: 100%; padding-top:5px;float:left;}
.divright {width:100%;}
.Headerfontsize{font-family: "Tahoma" , "Lucida Grande" ,sans-serif; font-size:13px; font-weight:bold}
.datasource {width:200px; float: left;}

