﻿.ProcCanvasAddDpOption
{
    height: 330px;
    overflow: auto;
}
.AddDpOptionInner
{
    height: 329px;
}
.OkBtnBorderTop
{
    border-top: solid 1px #c0c0c0;
}
#AddOptionBtn
{
    margin-left: 70px;
}

.DpHeader
{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border: solid 1px #c0c0c0;
}
.DpTextHeader
{
    width: 200px;
    float: left;
    border-right: solid 1px #c0c0c0;
    padding-left: 3px;
    padding-top: 3px;
    height: 20px;
}
.DpHeaderText
{
    font-size: 12px;
    font-weight: bold;
    margin-left: 50px;
}
.DpValueHeader
{
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    float: left;
    padding-top: 3px;
    padding-left: 3px;
    border-right: solid 1px #c0c0c0;
    height: 20px;
}
.DpOptionHeaderDelete
{
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    float: left;
    padding-top: 3px;
    padding-left: 6px;
    height: 20px;
}
.DpContent
{
    margin-left: 10px;
    float: left;
    border-top: solid 1px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
}
.DpContentText
{
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 200px;
    float: left;
    border-bottom: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
    height: 20px;
}
.DpContentValue
{
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 200px;
    float: left;
    border-bottom: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
    height: 20px;
}
.DpOptionContentDelete
{
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    float: left;
    padding-top: 3px;
    padding-left: 6px;
    padding-bottom: 3px;
    height: 20px;
    border-bottom: solid 1px #c0c0c0;
}
.DpOptionHeaderDefault
{
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    float: left;
    padding-top: 3px;
    padding-left: 5px;
    height: 20px;
    border-right: solid 1px #c0c0c0;
}
.DpOptionContentDefault
{
    font-size: 12px;
    font-weight: bold;
    width: 40px;
    float: left;
    padding-top: 3px;
    padding-left: 15px;
    padding-bottom: 3px;
    height: 20px;
    border-right: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
}
.txtDpOption
{
    width: 190px;
    height: 15px;
    border:1px solid #c0c0c0;
}
.ddlDpOption
{
    width: 190px;
    height: 20px;
}
.DpContentRow
{
    float: left;
}
.clear
{
    clear: both;
}
#SubProcBoxAddDropDownOption
{
    display: none;
}
#SubProcBoxMessage
{
    display: none;
    min-height:90px !important;
}
#SubProcBoxDeleteMessage
{
    display: none;
    
}
#SubProcBoxLinkParameterToCtrl
{
    display: none;
}
#OuterSaveLpJsonDiv
{
    height: 330px;
    overflow: auto;
    display: none;
}
#OuterSaveLpJsonInnerDiv
{
    height: 329px;
    margin-left: 70px;
}
/*Link Parameter Popup */
.LpHeader
{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border: solid 1px #c0c0c0;
}
.LpTextHeader
{
    width: 120px;
    float: left;
    border-right: solid 1px #c0c0c0;
    padding-left: 3px;
    padding-top: 3px;
    height: 20px;
}
.LpHeaderText
{
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
}
.LpValueHeader
{
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    float: left;
    padding-top: 3px;
    padding-left: 3px;
    border-right: solid 1px #c0c0c0;
    height: 20px;
}
.LpOptionHeaderDelete
{
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    float: left;
    padding-top: 3px;
    padding-left: 6px;
    height: 20px;
}
.LpContentCtrl
{
    margin-left: 10px;
    float: left;
}
.LpContent
{
    margin-left: 10px;
    float: left;
    border-top: solid 1px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
}
.LpContentText
{
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 120px;
    float: left;
    /*border-bottom: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;*/
    height: 20px;
}
.LpContentValue
{
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 120px;
    float: left;
    /*border-bottom: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;*/
    height: 20px;
}
.LpContentValue select
{
    height:20px;
}
.LpContentValue input
{
    height:16px;
}
.LpOptionContentDelete
{
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    float: left;
    padding-top: 3px;
    padding-left: 6px;
    padding-bottom: 3px;
    height: 20px;
    border-bottom: solid 1px #c0c0c0;
}
.txtLpOption
{
    width: 110px;
    
}

.ddlLpOption
{
    width: 110px;
    height:20px;
}
.LpContentRow
{
    float: left;
}

.FLeft
{
    float: left;
}
.LpContentRowMouseOver
{
     background-color : #E8F1FC !important;
}
/**********************************/
#SubProcIframe
{
    display: none;
}
#btnUpdFileCancelDiv
{
    margin-left: 170px;
    margin-top: 10px;
}
#ProcIframeCanvas
{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}
#SubProcFormList
{
    display: none;
}
#FormListDiv
{
    margin-left: 50px;
    overflow-y: auto;
    height: 330px;
    margin-top: 10px;
}

#SubProcForm
{
    display: none;
}

.WfOnLoadInnerDiv
{
    float: left;
    clear: both;
    margin-left:5px;
}
.WfOnLoadHeadDiv
{
    width: 150px;
    float: left;
    margin-top: 5px;
    cursor:default;
}
.ddlWfCmdTypeDiv
{
    width: 150px;
    float: left;
    margin-top: 5px;
}
#btnWfAddCmdDiv
{
    margin-left: 10px;
    float: left;
}
.WfOnLoad1
{
    border: solid 0px #c0c0c0;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.WfOnLoad2
{
    float: left;
    clear: both;
    padding: 5px;
}
.WfOnLoad3
{
    min-height: 50px;
    margin-left: 10px;
    height: auto;
}
.WfParaLnkDiv
{
    border: solid 1px lightgrey;
    width: 510px;
    margin-top: 5px;
    max-height: 500px;
    overflow: auto;
    display: none;
    float:left;
    padding-top:10px;
    margin-left:5px;
    
}
#WfWsHttpCommandDiv
{
    margin-left:10px;
    float:left;
    height:30px;
    vertical-align:middle;
    margin-top:3px;
    clear:both;
}
#WfWsWsdlCommandDiv
{
    margin-left:10px;
    float:left;
    height:30px;
    vertical-align:middle;
    margin-top:3px;
    clear:both;
}
#WfDbCommandDiv
{
    margin-left:10px;
    float:left;
    height:30px;
    vertical-align:middle;
     margin-left: 5px;
    margin-top:3px;
    clear:both;
}

#WfOuterEditDiv
{
    float:left;
}
.WfPara1
{
    width: 100%;
}
.WfPara2
{
    width: 150px;
    height:30px;
    float: left;
    cursor:default;
}
.WfPara4
{
    margin-left:10px;
    
}
.WfPara3
{
    float: left;
    height:30px;
    vertical-align:middle;
}
#WfInnerEditDiv
{
    min-height: 50px;
    margin-left: 10px;
    height: auto;
    display: none;
}
#SubProcWfLinkParameter
{
    display: none;
}
#SubProcDelWfFormAndCntr
{
    display: none;
    min-height:50px !important;
}
#SubProcWfEditForm
{
    display: none;
    min-height:50px !important;
}
#SubProcWfList
{
    display: none;
}
.WfList1
{
    margin-left: 4px;
    overflow-y: auto;
    
    overflow-x: hidden;
    height: 330px;
    margin-top: 10px;
}
#dialog
{
    display: none;
}
.wfFrmMenuDiv
{
    clear: both;
    vertical-align: top;
}
.imgwflinkForm
{
    margin-left: 2px;
    float: left;
}
#wfFrmTransitionDiv
{
    clear: both;
    vertical-align: top;
}
#SubProcOnCloseCmdDel
{
    display: none;
    min-height:50px !important;
    
}
#SubProcDelTansition
{
    display: none;
    min-height:50px !important;
}
#SubProcWfCondition
{
    display: none;
}
.WfCondition1
{
    margin-left: 10px;
    height: auto;
    vertical-align: baseline;
}
.WfCondition2
{
    float: left;
    clear: both;
    margin-top:20px;
    height:40px;
}
.WfCondition3
{
    width: 140px;
    float: left;
    margin-top: 5px;
    cursor:default;
}
.WfCondition4
{
    border-top: solid 1px #c0c0c0;
    margin-top: 50px;
}
.WfCondition5
{
    margin-left: 430px;
    margin-top: 5px;
}
#SubProcBoxWfMessage
{
    display: none;
    min-height:50px !important;
}
#divModalContainer
{
    display: none;
}
#SubProcMenuCategory
{
    display: none;
}
.MenuCategory1
{
    float: left;
    margin-top: 10px;
    width: 120px;
}
.MenuCategory2
{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    min-width:30px;
}
.MenuCategory3
{
    float: right;
    margin-top: 10px;
}
.MenuCategory4
{
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 5px;
    width:auto;
    min-width: 470px;
    overflow-x: auto;
    border:solid 1px #bbb;
    max-height:200px;
}
.MenuCategory7
{
    float: right; 
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top:3px;
    min-width:30px;
    cursor:default;
}
.chklistGroup
{
    margin-left:5px;
    border:solid 0px #fff;
    background-image:none;
     width:auto;
    min-width:460px;
    overflow-x: auto;
     display:inline-block;
     margin-bottom:0px;
}
.chklistGroup tbody
{
    display:inline-block;
}
.chklistGroup tbody tr
{
    display:inline-block;
}
.chklistGroup tbody tr td
{
    display:inline-block;
    text-align:left  !important;
    word-wrap:break-word;
    width:auto;
    min-width:200px;
   
}
.chklistGroup tbody tr td label
{
    margin-left: 10px;
    padding-bottom: 5px;
    vertical-align:top !important;
    word-wrap:break-word;
}

#SubProcDeleteCmdConfrmation
{
    display: none;
    min-height:50px !important;
}
#SubProcFormChange
{
    display: none;
    min-height:50px !important;
    
}
#SubProcMenuCatIcon
{
    display: none;
}
#SubProcMenuicon
{
    display: none;
}
#SubProcDbCmdAddPara
{
    display: none;
}
.AddParameter
{
    height: 250px;
    overflow-y: auto;
}
#dialogPara
{
    display: none;
}
#SubProcConfirmBoxMessage
{
    display: none;
    min-height:50px !important;
}
.ConfirmBoxMessage1
{
    float: left;
    margin-top: 7px;
    
}
#SubProcBoxUldWsdlCfm
{
    display: none;
    min-height:50px !important;
}

.MarginT10
{
    margin :10px 0px 0px 0px;
}
#SubProcConfirmFormDel
{
    display:none;
    min-height:50px !important;
}
#SubProcConfirmWfDel
{
    display:none;
    min-height:50px !important;
}
#SubProcImageDelConfirnmation
{
    display:none;
    min-height:50px !important;
}
.solidLine
{
    border-top:solid 1px #C0C0C0;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
   
}
.LpContentText1
{
    padding-left: 3px;
    padding-top: 4px;
    padding-bottom: 3px;
    width:auto;
    float: left;
    height: 20px;
}

.LpContentText3
{
    padding-left: 3px;
    padding-bottom: 3px;
    overflow-x:auto;
    width:120px;
    float: left;
    
}
.LpContentText2
{
    padding-left: 3px;
    padding-bottom: 3px;
    overflow-x:auto;
    width:200px;
    float: left;
    /*border-bottom: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;*/
    
}

#SubProcWsdlDataType
{
    display:none;
}

.WsdlDataTypeContent
{
    margin-left: 10px;
    float: left;
    min-width:500px;
    max-width:500px;
    overflow-x:auto;
    overflow-y:auto;
    min-height:300px;
    max-height:500px;
    border-top: solid 1px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;
}
.WsdlContentText
{
    padding-left: 3px;
    padding-top: 4px;
    padding-bottom: 3px;
    width:auto;
    float: left;
    height: 20px;
}

.hide
{
    display:none;
}
.AddDataTransDiv
{
    float:left;margin-top:5px;margin-left:5px;
}
.UploadImageDiv
{
    margin-top: 20px; margin-left: 30px;
}
.SubProcborderDiv
{
     margin-top: 10px;
    width:100%; float:left;clear:both;
    border-top: solid 1px #e0e0e0;
}

.SubProcBtnDiv
{
    float: left;
    margin-top: 10px;
    width:100%;
    /*margin-left: 40%;*/
}
.SubProcBtnMrgn
{
    float: left;
    margin-top: 7px;
    width:100%;
    /*margin-left: 40%;*/
}
.SubProcDbConnBtnDiv
{
    float: left;
    margin-top: 10px;
    margin-left: 25%;
}
/**************/

.DbConnLeftDiv
{
   float:left;
   padding-top:5px;
   width:35%;
   margin-top:5px;
   cursor:default;
}
.DbConnLeftDllDiv
{
   float:left;
   padding-top:5px;
   width:35%;
   margin-top:10px;
   cursor:default;
}
.DbConnRightDiv
{
   float:left;
   width:65%;
   margin-top:5px;
   cursor:default;
}

/******************/
.modalPopUpDetails 
{
    width:100%;
}
.modalPopUpDetColumn1
 {
     float: left;
     width:100px;
     color: #6F6F6F;
     clear:none;
     font-style: normal;
     font-weight: 600;
     cursor:default;
     
  }
  .modalPopUpDetHeaderDiv
  {
  	padding: 5px 5px 5px 5px;
      border-bottom: 1px solid #cccccc;float:left; width:98%;
     cursor:default;
  }
  .modalPopUpDetHeader 
  {
     color: #6F6F6F;
      text-shadow: 0 -1px 0 white;
      font-size: 13px;
     font-style: normal;
     font-weight: 700;
     float:left;
  }
  .modalPopUpDetHeader >span
  {
       font-weight: inherit;
  }
  .modalPopUpDetRow1
  {
     float: left; width: 100%;clear:both;
  }
  .modalPopUpDetColumn1 >span
  {
      font-weight: inherit;
  }
   .modalPopUpDetColumn2
  {
      margin-left: 3px;
      margin-right: 4px;
      float: left;
      width:auto;
  }
  .modalPopUpDetColumn3
  {
      float: left;
      width:70%;
      margin-left: 3px;
     word-wrap:break-word;
     cursor:default;
  }
  .modalPopUpDetRow
  {
      float: left;
      clear:both;
      /*margin-top:3px;*/
      width:100%;
      /*margin-bottom:5px;*/
      padding:5px 5px 5px 5px;
      border-bottom:1px dotted #E1E1E1;
  }
  
   .modalPopUpDetRowo
  {
      float: center;
      clear:both;
      /*margin-top:3px;*/
      width:100%;
      /*margin-bottom:5px;*/
      padding:5px 5px 5px 5px;
     
  }
        
  
  
            
  div.modalPopUpDetails > div > div > fieldset > section div 
  {
      margin-top: 4px;
  }
/*******************/

.DbCmdDiv
{
    margin-left:1px;
    width:100%;
}
.DbCmdRow
{
   width:100%;float:left;
}
.DbCmdLeftDiv
{
   float:left;
   padding-top:5px;
   width:20%;
   margin-top:5px;
}
.DbCmdRightDiv
{
   float:left;
   width:65%;
   margin-top:5px;
}
.DbCmdRightSmallDiv
{
   float:left;
   min-width:30%;
   width:auto;
   margin-top:5px;
}
.DbCmdRightLargeDiv
{
   float:left;
   width:75%;
   margin-top:5px;
}

div .selector
{
    font-size:12px;
}
#spinDiv
{
    text-align:center;
    margin-top:7px;
    display:none;
    /*margin-bottom:5px;*/
    min-height:0 !important;
    height:auto;
    
}
.spinDivCorner
{
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
}
.DCmdCont
{
  width:370px;
  float :left;
}
.DCmdRow
{
    float :left;
    width:360px;
    clear:both;
    margin:5px 0px 5px 0px;
}
.DCmdRowLeft
{
    float:left;
    width:160px;
    cursor:default;
}

.DCmdRowRight
{
    float:left;
    width:150px;
}
.CmdCont
{
  width:290px;
  float :left;
}
.CmdRow
{
    float :left;
    width:280px;
    clear:both;
    margin:5px 0px 5px 0px;
}
.CmdRowLeft
{
    float:left;
    width:120px;
    cursor:default;
}

.CmdRowRight
{
    float:left;
    width:150px;
}
.CmdDropDown
{
    width:150px;
    height:20px;
    color: #3F3F3F;
}
.Cmdtxt
{
    width:105px;
    color: #3F3F3F;
}
.CmdRpctxt
{
    width:145px;
    color: #3F3F3F;
}

.RptCmdRow
{
    width:320px;
}
.RptCmdRowLeft
{
    width:140px;
}

.RptCmdRowRight
{
    width:150px;
}
.DbCmdAddPara
{
    padding-left:5px;
    padding-bottom:3px;
    padding-top:3px;
    border-bottom:1px solid #cccccc
}

.DbCmdAddParaHead
{
    padding-left:5px;
    padding-bottom:3px;
    padding-top:3px;
    border-bottom:2px solid #cccccc;
    font-weight:bold;
}
.DbCmdParaHeadCol
{
    background-color:#e6e6e6;
}
.MenuLeftDiv
{
   float:left;
   padding-top:5px;
   width:20%;
   margin-top:5px;
   cursor:default;
}
.MenuCenterDiv
{
    float:left;
   padding-top:5px;
   margin-top:5px;
   margin-right:5px;
}
.MenuLeftIconDiv
{
   float:left;
   padding-top:5px;
   width:5%;
   margin-top:5px;
}
.MenuRightDiv
{
   float:left;
   width:30%;
   margin-top:5px;
}
.MenuIcon
{
    cursor:pointer;
    height:16px;
    width:16px;
    margin-top:3px;
}

.MenuIconHead
{
    height:16px;
    width:16px;
    margin-left:10px;
}
.MenuIconHeadTxt
{
    float:left;
    cursor:pointer;
    margin-left:10px;
}
/*************/
.ViewIntHeaderCtrl
{
    width: 150px;
    float: left;
    padding-left: 3px;
    padding-top: 3px;
    height: 20px;
}
.ViewIntHeader
{
    width: 200px;
    float: left;
    /*border-right: solid 1px #c0c0c0;*/
    padding-left: 3px;
    padding-top: 3px;
    height: 20px;
}

.ViewIntHeaderPick
{
    width: 50px;
    float: left;
    /*border-right: solid 1px #c0c0c0;*/
    padding-left: 3px;
    padding-top: 3px;
    height: 20px;
}
.ViewIntHeaderTxt
{
    width: 150px;
    float: left;
    /*border-right: solid 1px #c0c0c0;*/
    padding-left: 3px;
    padding-top: 3px;
    height: 20px;
}
.ViewIntHeaderTyp
{
    width: 120px;
    float: left;
    padding-left: 3px;
    padding-top: 3px;
    height: 20px;
}
.ViewIntOutHeader
{
    /*margin-top: 10px;
    margin-left: 10px;*/
    float: left;
    border-top: solid 1px #c0c0c0;
    border-bottom: solid 1px #c0c0c0;
    /*background-color:#cdc9c9;*/
}
.ViewIntLeftHeader
{
    width: 200px;
    float: left;
    border-right: solid 1px #c0c0c0;
    padding-left: 3px;
    padding-top: 3px;
    height: 20px;
    margin-left: 3px;
}

.ViewIntContent
{
    margin-left: 10px;
    float: left;
    /*border: solid 1px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;*/
}

.ViewIntContentText
{
    font-size: 12px;
    font-weight: normal;
    margin-left: 3px;
    cursor:default;
}
.ViewIntHeadingText
{
   font-size: 13px;
   font-weight: bold;
   padding-left: 20px;
   padding-bottom: 5px;
   padding-top: 5px;
   background-color:#cdc9c9;
   cursor:default;
}
.ViewIntCtrlType
{
    font-size: 12px;
    font-weight: normal;
    margin-left: 90px;
    
}

.ViewInt
{
    margin-left: 10px;
    height: auto;
    vertical-align: baseline;
    max-height:570px;
    overflow-y:auto;
}
.ViewIntEdit
{
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    float: left;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    /*border-bottom: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;*/
}
.ViewIntEditSep
{
    border-bottom: solid 1px #c0c0c0;
    width:100%;
    margin-top:5px;
}
.ViewIntEditType
{
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    float: left;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    /*border-bottom: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;*/
}
.txtViewInt
{
    width: 145px;
    height:16px;
}
.ddlViewInt
{
    width: 130px;
    height:20px;
    font-size: 11px !important;
}

.ViewIntEditTxt
{
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    float: left;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    /*border-bottom: solid 1px #c0c0c0;
    border-right: solid 1px #c0c0c0;*/
}

.ViewIntEditPick
{
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    float: left;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
}
/*******On Close******/
.OnClsHeadText
{
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding-top: 3px;
    height: 20px;
    cursor:default;
}
.OnClsChangeHeadText
{
   font-size: 12px;
    font-weight: bold;
    width: 200px;
    float: left;
    padding-top: 3px;
    padding-left: 3px;
    border-right: solid 1px #c0c0c0;
    height: 20px
}
.OnClsContentText
{
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 200px;
    float: left;
    height: 20px;
}

.txtOnCls
{
    width: 200px;
    height:15px;
}

.YSeriesTable
{
    float:left;
    width:415px;
    margin-left:10px;
}
.YSeriesHeadRow
{
    float:left;
    width:410px;
    clear:both;
    margin-top:5px;
}

.YSeriesRow
{
    float:left;
    width:450px;
    clear:both;
    margin-top:10px;
    background-color: #FDFDFD;
    height:21px;
}

.YSeriesAltRow
{
    float:left;
    width:450px;
    clear:both;
    margin-top:10px;
    background-color: #FAFAFA;
    height:21px;
}
.YSeriesColumn
{
    float:left;
    width:100px;
}

.YSeriesColumn1
{
    float:left;
    width:70px;
}

.YSeriesColumn2
{
    float:left;
    width:40px;
    
}
.YSeriesColumn3
{
    float:left;
    width:150px;
}

.YSeriesColumn4
{
    float:left;
    width:60px;
}
.YSeriesColumn5
{
    float:left;
    width:90px;
}
.YseriesLblTxt
{
    width:85px;
    height:15px;
}
.YseriesLblDdl
{
    width:50px;
    height:20px;
}

.YseriesLblDdl1
{
    width:140px;
    height:20px;
}
.YseriesValueTxt
{
    width:140px;
    height:15px;
}
.YSeriesHeader
{
    
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding-top: 3px;
    height: 20px;
}
.selectColor1
{
    height:15px;width:20px;background-color:#0000ff;float:left;margin-top:2px;margin-left:10px;cursor:pointer;
}
.selectColor2
{
    height:15px;width:20px;background-color:#ff0000;float:left;margin-top:2px;margin-left:10px;cursor:pointer;
}
.selectColor3
{
    height:15px;width:20px;background-color:#00bf00;float:left;margin-top:2px;margin-left:10px;cursor:pointer;
}
.selectColor4
{
   height:15px;width:20px;background-color:#cccccc;float:left;margin-top:2px;margin-left:10px;cursor:pointer;
}
.selectColor5
{
    height:15px;width:20px;background-color:#ffd4aa;float:left;margin-top:2px;margin-left:10px;cursor:pointer;
}


 .rptIconClass
 {
     padding-bottom:5px;
 }
 .IconTable
 {
     float:left;
     margin-left:15px;
     border-top:1px solid #C0C0C0;
     border-left:1px solid #C0C0C0;
     border-right:1px solid #C0C0C0;
     border-bottom:0px solid #C0C0C0;
     
 }
 .IconRow
 {
     float:left;
     border-bottom:1px solid #C0C0C0;
 }
 .IconCol
 {
     float:left;
     padding-top:5px;
     padding-bottom:5px;
     padding-left:22px;
     padding-right:22px;
 }
 
 .IconColEmpty
 { 
     float:left;
     height:42px;
     width:76px;
 }
 
 
 .IconRow div:not(.IconColEmpty):hover 
 {
    background-color : #ECF1F6 !important;
    cursor:pointer;
 }

 .IconImg
 {
     width:32px;
     height:32px;
     
 }
 
 .borderNone
 {
    border:none !important;
 }
 
 .imgFollow
 {
     width:14px;
     height:14px;
     vertical-align:baseline;
 }
 .CursorPointer
 {cursor:pointer;
 }
 
.TblColOuter
{
    height:500;
}

.txtTblCol
{
    width: 110px;
}

.ddTblCol{ width: 80px}

.txtTblColMid
{
    width: 80px;
}
.TblCmdCont
{ width: 900px;
}
.TblCmdHead
{ 
    border: solid 1px #c0c0c0; margin-top: 10px;float:left;background-color:#cdc9c9;
}

.TblColHeader
{
    float: left;
    border-right: solid 1px #c0c0c0;
    padding-left: 3px;
    padding-top: 1px;
    height: 22px;
    font-size: 12px;
    font-weight: bold;
}

.TblColHeaderLarge
{
    width: 120px;
}
.TblColHeaderSmall
{
    width: 40px;
}
.TblColHeaderMid
{
    width: 90px;
}
.TblColHeadersmlt{width: 75px;}
.txtTblColSmlt{width:57px}
.txtTblColSml{width: 29px;}
.DivTblRows
{
   float:left;border-bottom: solid 1px #c0c0c0; border-left: solid 1px #c0c0c0; 
}
.DivTblCols
{
    max-height:300px;overflow-y:scroll;overflow-x:hidden;float:left;
}
.astric{color :#FF0000 !important;font-weight:bold;cursor:default;}
.autoCmpDiv{max-height: 100px; overflow-y:auto;width:370px}
.imgRefresh{margin-left:5px;margin-top:5px;border:none !important}
.ddlAbHH{width:40px !important;margin-right:5px}
.dcMrg5{margin-top:5px}
.dcMrg2{margin-top:2px;width:80px !important}
.dcMrgCont{width:470px !important}
.dcMrgRow{width:460px !important}
.dcMrg15{margin-left:15px}
.IMG_DRAG{width:100px;height:50;z-index: 999999;}
.Width100{width:100%;}
.ODataCmdImg{margin-left:10px;float:left;margin-top:7px;cursor:pointer;}
.ODataPostDiv{max-height:200px;}