﻿#header-wrapper {width:100%; border-bottom:1px solid #ebebeb; position:relative; z-index:1090; }
#header {width:940px; height:70px; margin:0 auto; position:relative;}


/* Logo */
#header #logo{position:absolute; left:0px; bottom:15px;}
#header #logo h1{position:absolute; font-size:24px; font-weight:bold; margin-bottom:0px; left:0px; bottom:0;}
.retina-logo {display:none;}

/* Menu first-level */
#primary-main-menu{font-size:13px; position:absolute; bottom:0; right:0; line-height:1; margin:0 -15px -1px 0; padding: 0; }
#primary-main-menu li{list-style:none; position:relative; float:left; padding:0 15px 25px;}
#primary-main-menu li a{display:block; position:relative; color:#888; margin:0; padding: 10px 0px 2px; text-decoration: none; text-transform:uppercase; font-weight:600; border-bottom:2px solid #e7e7e7; line-height:1;}

/* Sub-level */
#primary-main-menu li ul{font-size:12px; position: absolute; top:100%; margin:0 -5px 0 0; left: 0; display: block; visibility: hidden; z-index:9992; box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);  -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);}
#primary-main-menu li:hover > ul{visibility: visible;}
#primary-main-menu li ul li {display: block; float: none; margin: 0; padding:0; }
#primary-main-menu li ul li a{display:block; background:none; color:#555; border:none; width:160px; padding:7px 20px; margin:0; line-height:1.7; border-bottom: 1px solid rgba(0, 0, 0, 0.2); border-top: 1px solid rgba(255, 255, 255, 0.1);}
#primary-main-menu li ul li a{opacity:0.98; text-transform:none; }
#primary-main-menu li ul li a:hover{opacity:1;}
#primary-main-menu li ul li ul{margin:0; top:0px; left:200px;}

/* Sub-level fix */
#primary-main-menu li ul li:last-child > a{border-bottom:none;}

/* 3rd-level indicator */
#primary-main-menu li ul > li > .parent:after, #primary-main-menu li li .parent:after {content: "\e3b5"; font-family:moon; float:right; font-size:11px;}

/* Current menu item style */
#primary-main-menu > li.current-menu-item, #primary-main-menu > li.current-menu-ancestor, #primary-main-menu > li.current_page_parent {padding-bottom:27px;}
#primary-main-menu > li.current-menu-item > a, #primary-main-menu > li.current-menu-ancestor > a, #primary-main-menu > li.current_page_parent > a  {border:none;}
#primary-main-menu > li.current-menu-item > a:after, #primary-main-menu > li.current-menu-ancestor > a:after, #primary-main-menu > li.current_page_parent > a:after {content: ""; width: 0; height: 0; border-style: solid; border-width: 0 3px 3px 3px; border-color: transparent transparent #f86c35 transparent; border-color:rgba(255,255,255,0)  rgba(255,255,255,0) #f86c35 rgba(255,255,255,0);  position:absolute; bottom: -5px; left: 50%; margin-left:-2px; }
body {
}
