﻿html, body, div, span, applet, object, iframe, input, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 100;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
input[type=hidden]
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
*
{
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, textarea, input
{
    color: #6F6F6F;
    font-size: 12px;
}
body
{
    left: auto;
    margin: auto;
    min-width: 0;
    padding: 2%;
    right: auto;
}
body
{
    background-color: #E9E9E9;
    color: #888888;
    font: 14px Helvetica,Arial,sans-serif; /*text-align: center;*/
    text-shadow: 0 1px 0 #FFFFFF;
}

form
{
    margin: 15px 0 0 0;
}
form input:hover, input:focus, textarea:hover, textarea:focus
{
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
}
form input, textarea, input:invalid, input:required, textarea:required
{
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
input:not([type="image"]):hover, input:focus, textarea:hover, textarea:focus
{
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
}

input:not([type="image"]), textarea, input:invalid, input:required, textarea:required
{
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
input, textarea
{
    padding: 6px 2px;
    font-size: 13px;
    width: 99%;
    border: 1px solid;
    background-color: #ffffff;
    border-color: #bbbbbb;
    padding: 6px 4px;
    margin: 0 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #6f6f6f;
}
*::-moz-selection
{
    background: none repeat scroll 0 0 #BADA55;
    color: #FFFFFF;
    text-shadow: none;
}
*::-moz-selection
{
    text-shadow: none;
}

#cmpRegisterForm
{
    max-width: 490px;
    min-width: 150px;
    margin: 0 auto; 
    background: #fff;
    padding: 10px 40px 10px 40px;
}
#cmpRegistrationLogo
{
    float: right;
    width: 48px;
    height: 48px;
}
#headerLogo
{
    background: url(themes/images/mFicientLogo150x75.png) center center no-repeat;
    border: 0 none;
    border-top-left-radius: 4px;
    float: left;
    height: 24px;
    padding: 26px 0 17px 15px;
    width: 25%;
}
#headerText
{
    display: inline;
    float: right;
    height: 24px;
    margin-left: 5px;
    padding: 26px 0 17px 15px;
}
.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix
{
    display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix
{
    display: block;
}
/* End hide from IE Mac */
.none
{
    display: none;
}
/* End Clearfix _NO__DOTCOMMA__AFTER__*/

#header
{
    border-bottom: 1px solid #efefef;
}
#send p
{
    margin-bottom: 20px;
}

#required p
{
    font-size: 10px;
}

form label
{
    display: block;
    margin-top: 6px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}
.dialogError
{
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    background-image: url(themes/images/dialog_error.png);
    width: 16px;
    height: 16px;
    position: relative;
}

.dialogInfo
{
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    background-image: url(themes/images/dialog_info.png);
    width: 16px;
    height: 16px;
    position: relative;
}
.dialogInfoWebKit
{
    top: 2px;
}
.dialogErrorWebKit
{
    top: 2px;
}
.dialogWarning
{
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    background-image: url(themes/images/dialog_warning.png);
    width: 16px;
    height: 16px;
    position: relative;
}
.dialogWarningWebKit
{
    top: 2px;
}
.ui-widget-header a, .ui-accordion-header a
{
    color: #444444;
    text-shadow: 0 0 1px #FFFFFF;
}

.ui-widget-overlay
{
    background-color: #333333;
}
.ui-widget
{
    padding: 0 !important;
}
.ui-widget-header
{
    border: 0 !important;
    border-top: 1px solid !important;
    border-bottom: 1px solid !important;
    background-repeat: repeat !important;
    margin: 0 !important;
}
.ui-widget-header
{
    border-top-color: #FFFFFF !important;
    border-bottom-color: #AAAAAA !important;
    margin: 0;
}
.ui-widget-header a, .ui-accordion-header a, .ui-datepicker-title .ui-datepicker-month, .ui-datepicker-title .ui-datepicker-year
{
    font-size: 14px !important;
}
.ui-state-default a
{
    border-top: 1px solid !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}
.ui-widget-overlay
{
    background-repeat: repeat !important;
}
input[type = submit]
{
    border: 1px solid;
    position: relative;
    padding: 9px 12px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 4px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    margin: 2px;
    min-height: 22px;
    min-width: 8px;
    white-space: pre-line;
    vertical-align: baseline;
}
input[type = submit]:hover
{
    background-color: #f1f1f1;
}
input[type=submit]
{
    border-color: #c7c7c7 #b2b2b2 #b2b2b2 #c7c7c7;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
    color: #555555;
    background-color: #e6e6e6;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}
input[type=submit], input[type=checkbox], input[type=radio], input[type=button], button
{
    width: auto !important;
}
div.submitContainer
{
    padding: 6px 4px 4px 0px;
}

#divWaitBox
{
    text-align: center;
    margin-top: 5px;
    display: none;
    margin-bottom: 5px;
    min-height: 0 !important;
    height: auto;
}
select
{
    height: 32px;
}
.clearBoth
{
    clear:both;
}
.waitBoxCorner
{
-moz-border-radius: 8px !important;
-webkit-border-radius: 8px !important;
border-radius: 8px !important;
}
