﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UploadFile.aspx.cs" Inherits="mFicientCP.UploadFile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <asp:FileUpload ID="fupd" runat="server" />
                                            <asp:Button ID="btnImportFile" runat="server" Text="Import" OnClick="btnImportFile_Click" />
            <asp:HiddenField ID="hdf" runat="server" Visible="false" />
            <asp:HiddenField ID="hdfCid" runat="server" Visible="false" />
    </div>
    </form>
</body>
</html>
