html, body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

#all {
    text-align: left;
    min-width: 1000px;
    padding: 5px 5px 5px 5px;
}

.header {
    display: block;
    height: 30px;
    padding: 1px;
}

#content-container {
    position: relative;
    display: block;
    border-left: 200px solid white;

}

#qb-ui {
    display: block;
    position: relative;

    margin-left: -200px;

    border: 1px solid #BBBBBB;
    border-bottom: 0;
}

#qb-ui-canvas-navbar-breadcrumb-container {

    float: left;
}

#qb-ui-canvas-navbar {
    float: left;
    position: relative;
    width: 100%;

    border-bottom: 1px solid #DDDDDD;
    left: 0;
    overflow: visible;
    cursor: default;

}

#qb-ui-canvas-navbar-controls {
    float: right;
    padding: 2px;

    max-width: 70%;
    overflow: auto;

    white-space: nowrap;

}

#qb-ui-canvas-navbar-plus-button {
    width: 22px;
    height: 22px;
    padding: 2px;
    float: left;
    display: inline-block;
    background: url(../img/icons/navbar_plus.png) no-repeat center;
}

#qb-ui-canvas-navbar-controls-pane {
    height: 22px;
    white-space: nowrap;

    overflow: hidden;
}

#qb-ui-canvas-navbar-controls .control {
    width: 22px;
    height: 22px;

    display: inline-block;
    background: no-repeat center;
}

#qb-ui-canvas-navbar-controls .Q {
    background-image: url(../img/icons/navbar_Q.png);
}

#qb-ui-canvas-navbar-controls .Q.active {
    background-image: url(../img/icons/navbar_Q_active.png);
}

#qb-ui-canvas-navbar-controls .union-operator {
    width: 20px;
}

#qb-ui-canvas-navbar-controls .union-operator.except {
    background-image: url(../img/icons/navbar_op_except.png);
}

#qb-ui-canvas-navbar-controls .union-operator.except-all {
    background-image: url(../img/icons/navbar_op_exceptall.png);
}

#qb-ui-canvas-navbar-controls .union-operator.intersect {
    background-image: url(../img/icons/navbar_op_intersect.png);
}

#qb-ui-canvas-navbar-controls .union-operator.intersect-all {
    background-image: url(../img/icons/navbar_op_intersectall.png);
}

#qb-ui-canvas-navbar-controls .union-operator.union {
    background-image: url(../img/icons/navbar_op_union.png);
}

#qb-ui-canvas-navbar-controls .union-operator.union-all {
    background-image: url(../img/icons/navbar_op_unionall.png);
}

#qb-ui-canvas-navbar-controls .union-operator.minus {
    background-image: url(../img/icons/navbar_op_except.png);
}

#qb-ui-canvas-navbar-controls .left-bracket {
    background-image: url("../img/icons/navbar_(.png");
    width: 10px;
}

#qb-ui-canvas-navbar-controls .right-bracket {
    background-image: url("../img/icons/navbar_).png");
    width: 10px;
}

#qb-ui-canvas {
    float: left;
    position: relative;
    left: 0;

    overflow: auto;
    cursor: default;
}

.canvas-hidden {
    display: none;
}

#qb-ui-canvas-graph {
    overflow: hidden;
    background: url(../img/icons/properties2.png) no-repeat right top;
}

#qb-ui-grid {
    float: left;
    position: relative;
    left: 0;

    overflow: auto;
}

#qb-ui-editor-statusbar {
    float: left;
    position: relative;
    width: 100%;
    min-height: 27px;
    line-height: 27px;
    left: 0;

    overflow: auto;

}

#qb-ui-editor {
    border: 1px solid #BBBBBB;
    display: block;
    position: relative;

    overflow: auto;
    top: 0;
    left: 0;
}

#center #qb-ui-editor {
    float: left;
}

#qb-ui-editor textarea {
    padding: 0;
    border: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.foot {
    display: block;
    height: 20px;
    padding: 1px;
    position: relative;
}

.format-table {
    border: 0;
    border-width: 0;
    border-spacing: 0;
    border-collapse: separate;
}

.format-table td {
    border-width: 0;
    padding: 0;
}

.format-table-light {
    border-width: 0;
    border-collapse: separate;
}

.format-table-light td {
    border-width: 0;
    padding: 0;
}

#qb-ui-grid table {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

#qb-ui-grid table tr {
}

#qb-ui-grid table tr td {
}

#qb-ui-editor-statusbar-message {
    font-family: Verdana, Arial, sans-serif;
    margin-left: 5px;
    float: left;
}

#qb-ui-editor-statusbar-message {
    padding-right: 170px;
    font-size: 14px;
}

#qb-ui-editor-statusbar-message.information {
    background: url(../img/icons/information.png) no-repeat 2px 6px;
    padding-left: 20px;
    margin-left: 0;
}

#qb-ui-editor-statusbar-message.warning {
    background: url(../img/icons/error.png) no-repeat 2px 6px;
    padding-left: 20px;
    margin-left: 0;
}

#qb-ui-editor-statusbar-message.error {
    background: url(../img/icons/exclamation.png) no-repeat 2px 6px;
    padding-left: 20px;
    margin-left: 0;
}

#qb-ui-editor-statusbar-controls {
    right: 0;
    position: absolute;
}

.qb-ui-canvas-hover,
.qb-ui-canvas-hover .ui-widget-content,
.qb-ui-grid-hover,
.qb-ui-grid-hover .ui-widget-content {
    background-color: #DFFFD4 !important;
    background-image: none;
}

#qb-ui-draggable-helper-table {
    z-index: 2000;
    position: absolute;
    width: 1000px;
    height: 0;

}

#qb-ui-draggable-helper-field {
    width: 0;
    height: 0;
    z-index: 6000; /*position: absolute;*/
}

.qb-ui-draggable-helper-field {
    width: 0;
    height: 0;
    z-index: 2000;
    position: absolute;
}

.qb-ui-table-field {
    z-index: 3000;
}

.qb-ui-object {
    cursor: pointer;
}

.qb-ui-object-table {

}

div.editable-select-options {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
}

.editable-select-options ul li.table {
    padding: 0 0 0 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/icons/table.gif);
}

.editable-select-options ul li.field {
    padding: 0 0 0 38px;
    background-repeat: no-repeat;
    background-position: 18px -1px;
    background-image: url(../img/icons/textfield.png);
}

.editable-select-options ul li.sortingOrder {

    padding: 0;
}

.odd {
    background-color: #F0F0F0;
}

.width40 {
    display: inline-block;
    width: 40px;
}

.width50 {
    display: inline-block;
    width: 50px;
}

.width75 {
    display: inline-block;
    width: 75px;
}

.ui-dialog-content fieldset {
    margin: 5px 0;
    padding: 5px;
    border: solid darkgray 1px;
    white-space: nowrap;

}

.ui-dialog-buttonpane {
    margin-top: 0;
}

.ui-dialog-content {
    padding: 0;
}

.cursorWait {
    cursor: wait !important;
}

.hidden {
    display: none;
}

.ui-menu {
    z-index: 6001;
}

.disable-selection {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-front {
    z-index: 4999;
}

.ui-dialog {
    z-index: 5000;
}

#qb-ui-canvas-navbar-breadcrumb-container .ui-button {
    margin-right: 0;
}

#qb-ui-canvas-navbar-breadcrumb-container {
    padding: 2px;
}

#qb-ui-canvas-navbar-breadcrumb-container .ui-widget {
    font-size: 11px;
}

#qb-ui-canvas-navbar-breadcrumb-container .ui-button-text {
    padding-top: 3px;
    padding-bottom: 3px;
}

#qb-ui-canvas-navbar-breadcrumb-container ul {
    display: none;
}

#qb-ui-canvas-navbar-breadcrumb-container .ui-state-disabled {
    opacity: 1;
}

#qb-ui-canvas-navbar-breadcrumb-container .ui-button-icon-only {
    width: 16px;
}

.ui-menu {
    position: absolute;
}

.ui-icon.ui-icon-qb-main {
    background: url(../img/icons/tab_main.png) 0;
}

.ui-icon.ui-icon-qb-derived {
    background: url(../img/icons/tab_derived.png) 0;
}

.ui-icon.ui-icon-qb-cte {
    background: url(../img/icons/tab_cte.png) 0;
}

.ui-icon.ui-icon-qb-subquery {
    background: url(../img/icons/tab_subquery.png) 0;
}

#rightcol .ui-button,
#leftcol .ui-button {
    font-size: 9px;
}

#wrapper1 {
    position: relative;
    text-align: left;
    width: 100%;
}

#wrapper2 {
    position: relative;
    text-align: left;
    width: 100%;
}

#maincol {
    margin: 0;
    position: relative;
}

#leftcol {
    float: left;
    position: relative;
    width: 20px;
    z-index: 100;
}

#rightcol {
    float: right;
    position: relative;
    right: 0;
    top: 0;
    width: 20px;
    z-index: 99;
}

#centercol {
    position: relative;
    overflow: hidden;
}

#centercol a {
    color: #666666;
}

#centercol a:hover {
    border-bottom: 1px solid;
    color: #9343B9;
}
#center {
    position: relative;
    display: block;
    height: 1%;
}







/* dimensions */

#qb-ui-tree {
    width: 213px;
}

.qb-ui-tree-item-block {
    height: 435px;
}

#center {
    margin-left: 214px;
}

#qb-ui-canvas {
    width: 100%;
    height: 321px;
}

#qb-ui-grid {
    width: 100%;
    height: 157px;
}

#qb-ui-editor textarea {
    width: 100%;
    height: 150px;
}































#qb-ui-criteria-builder {
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
    margin: 5px;
}

#qb-ui-criteria-builder .invalid-value{
    color: #B22222;
}

#qb-ui-criteria-builder a {
    text-decoration: none;
    border-bottom:1px dotted;
}

.qb-ui-criteria-builder-label {
}

.qb-ui-criteria-builder-hitarea {
    background-position: top left;
    background-repeat: repeat-y;
    /*display: inline-block;*/
    padding: 1px;
}

.qb-ui-criteria-builder-block input {
    margin: 0;
    padding:0;
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}

.qb-ui-criteria-builder-hitarea.all,
.qb-ui-criteria-builder-hitarea.notall {
    background-image: url(../img/icons/qt-bg1.png);
}

.qb-ui-criteria-builder-hitarea.any,
.qb-ui-criteria-builder-hitarea.none {
    background-image: url(../img/icons/qt-bg2.png);
}

.group > .qb-ui-criteria-builder-hitarea {
    margin-left: 22px;
}

.root > .qb-ui-criteria-builder-hitarea {
    margin-left: 0px;
}

.all >*> .qb-ui-criteria-builder-button,
.notall >*> .qb-ui-criteria-builder-button {
    background-color: #ff8f8f;
}

.all >*> .qb-ui-criteria-builder-button:hover,
.notall >*> .qb-ui-criteria-builder-button:hover {
    background-color: #ff5f5f;
}

.any >*> .qb-ui-criteria-builder-button,
.none >*> .qb-ui-criteria-builder-button {
    background-color: #8f8fff;
}

.any >*> .qb-ui-criteria-builder-button:hover,
.none >*> .qb-ui-criteria-builder-button:hover {
    background-color: #5f5fff;
}

.qb-ui-criteria-builder-button {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icons/plus-white.png);
    float: left;
    margin-right: 4px;
}

.qb-ui-criteria-builder-button.plus {
    background-image: url(../img/icons/plus-white.png);
}

.qb-ui-criteria-builder-button.dot {
    background-image: url(../img/icons/corner-dot.png);
}

.qb-ui-criteria-builder-button.corner {
    background-image: url(../img/icons/corner.png);
}

.qb-ui-criteria-builder-link-field-select {

}

.qb-ui-criteria-builder-link-field-select.warning,
.qb-ui-criteria-builder-link-value.warning {
    color: #B22222;
}

.qb-ui-criteria-builder-block {
    height: 18px;
    line-height: 18px;
    clear: both;
    padding: 1px;
}

.qb-ui-criteria-builder-block.group{
    height: auto;
}

.criteriaBuilderFieldSelect {
    overflow-x: hidden;
    overflow-y: auto;
}